- breadcrumb :list, @list
= render "shared/header"
= render "shared/nav"
%main.mypage
  .mypage-body
    = render "shared/mypage-side"
    .mypage-content
      %section.mypage-content--sold
        %h2.mypage-content--sold--tab  出品した商品
        %section.mypage-content--todo
          %ul.mypage-tabs
            %li.active
              %h3  出品中
            %li
              %h3  取引中（工事中）
          .tab-content
            %ul
              - if @products
                = @products.each do |product|
                  %li
                    =link_to  "/products/#{product.id}", class: 'mypage-item-link' do
                      %figure
                        =image_tag("#{product.product_images.first}")
                      .mypage-item-body
                        %p #{product.name}
                        %p #{SalesCondition.data[product.sales_condition.to_i].fetch(:name)}
                      %i.fa.fa-angle-right
              - else
                %li
                  %a.mypage-item-link
                    %figure
                      =image_tag("member_photo_noimage_thumb.png")
                    .mypage-item-body
                      %p  出品中の商品はありません
                    %i.fa.fa-angle-right
= render "shared/footer"
= render "shared/sell-btn"
