%body
  .single
    =render "shared/header2"
    %main.single-main
      %section.main-container
        %h2.main-container__head 新規会員登録
        .main-container__inner
          .main-container__inner-content
            =link_to signup_registration_path, class: "btn-default btn-mail" do
              = fa_icon 'envelope', class: 'btn-mail__icon'
              メールアドレスで登録
            %button#facebook-login.btn-default.btn-sns.btn-sns__facebook
              = link_to "Facebookで登録", user_facebook_omniauth_authorize_path, method:'post'
              = fa_icon 'facebook', class: 'btn-sns__icon-facebook'
            %button#google-login.btn-default.btn-sns.btn-sns__google
              = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, method:'post'
              = fa_icon 'google', class: 'btn-sns__icon-google'
    = render "shared/footer2"
