= render "shared/header"
%main.mypage
  .mypage-body
    = render "shared/mypage-side"
    .mypage-content
      .mypage-content--logout
        .mypage-content--logout__button
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
= render "shared/footer"
= render "shared/sell-btn"
