- breadcrumb :user, @user
= render "shared/header"
= render "shared/nav"
%main.mypage
  .mypage-body
    = render "shared/mypage-side"
    = render "shared/mypage-main"
= render "shared/footer"
= render "shared/sell-btn"
