= render "shared/header2"
%main.single-main
  %section.main-container
    %h2.main-container__head
      パスワードをお忘れの方
    .main-container__inner
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .signup-form
          .signup-form__group
            %label メールアドレス
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録されたメールアドレス", class: "signup-form__group-inner"
          %p.signup-form__text ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
          .actions
            = f.submit "送信する", class: "btn-red btn-default"
= render "shared/footer2"
