%body
  .single
    %header.single-header
      %h1.single-header__title
        =link_to '', class: "single-header__title-link" do
          = image_tag "logo.svg", width: "185", height: "49", class: "single-header-title-link-img"
    %main.single-main
      %section.main-container
        %h2.main-container__head 購入を確定しますか？
        .main-container__buyer
          .main-container__buyer-inner
            .buy-product-image
              = image_tag "buy-product-image"
            %p.buy-product-name
              #{@product.name}
            %form.buy-product
              %p.buy-product-price
                ¥
                = number_with_delimiter(@product.price)
                %span.buy-produt-postage
                  送料込み
                %ul.buy-according
                  %li.according-parent
                    .accordion-toggle
                      ポイントはありません
                %ul.buy-price-table
                  %li.buy-price-row
                    .buy-price-sell
                      支払い金額
                    .buy-price-sell
                      %span.data-buy-pay
                        ¥
                        = number_with_delimiter(@product.price)
                %p.has-error-text
                  配送先と支払い方法の入力を完了してください。
                .main-container__inner-content
                  %button#google-login.btn-default.btn-sns.btn-sns__google
                    購入する

        .main-container__buyer
          .main-container__buyer-inner
            %h3.buy-user-info
              配送先
            %adress.buy-user-info-text
              = "〒" + "#{@address.zip_code}"
              %br
              #{@address.city}
              %br
              #{current_user.nickname}
              %br
            %p.buy-user-info-text
              =link_to '' , class: "buy-user-info-fix" do
                %span 変更する >

        .main-container__buyer
          .main-container__buyer-inner
            %h3.buy-user-info-pay-method
              支払方法
            %p.buy-user-info-text
              %br
              未定
              %br
            %figure
            %p.buy-user-info-text
              =link_to user_cards_path(current_user) , class: "buy-user-info-fix" do
                %span 変更する >

  = render "shared/footer2"
