- breadcrumb :search, @q
= render "shared/header"
= render "shared/nav"
%section.pickup-container.search.clearfix
  = search_form_for @q, url: search_products_path , class: "search-left" do |f|
    .search-left--order
      .search-left--order__form
        %h3 並び替え
        .search-left--order__form__btn.input-default
          = sort_link(@q, :price,"価格順")
        .search-left--order__form__btn.input-default
          = sort_link(@q, :created_at,"出品日時順")
    .search-left--tool
      %h3 詳細検索
      .search-left--tool__form
        =f.label :name_cont,"キーワードを追加する"
        =f.text_field :name_cont,class: "input-default"
      .search-left--tool__form
        =f.label :category1_id_eq,"カテゴリーを選択する"
        - category1_options = Category1.order(:id).map { |c| [c.name, c.id, data: { children_path: category1_category2s_path(c) }] }
        = f.select :category1_id_eq, category1_options, { prompt: "---" }, class: 'select-parent select-default'
        - category2s = @product.category1.try(:category2s) || []
        - category2_options = category2s.map { |c| [c.name, c.id, data: { path: category1_category2_category3s_path(c) }] }
        = f.select :category2_id_eq, category2_options, { prompt: "---" }, class: 'select-children select-default', style: "display: none;"
        - category3s = @product.category2.try(:category3s) || []
        - category3_options = category3s.map { |c| [c.name, c.id] }
        = f.select :category3_id_eq, category3_options, { prompt: "---" }, class: 'select-grandchildren select-default', style: "display: none;"
      .search-left--tool__form
        =f.label :price_gteq,"価格"
        =f.number_field :price_gteq,class: "input-default", placeholder: "¥ Min"
      .search-left--tool__form
        =f.label :price_lteq,"~"
        =f.number_field :price_lteq,class: "input-default", placeholder: "¥ Max"
      .search-left--tool__form
        =f.label :condition_in,"商品の状態",class: "search-left--tool__form__title"
        =f.collection_check_boxes :condition_in, Condition.all, :id, :name do |b|
          .search-left--tool__form__checkbox
            =b.check_box class: "checkbox-default"
            =b.label class: "label"
      .search-left--tool__form
        =f.label :postage_in,"配送料の負担",class: "search-left--tool__form__title"
        =f.collection_check_boxes :postage_in, Shippingpay.all, :id, :name do |b|
          .search-left--tool__form__checkbox
            =b.check_box class: "checkbox-default"
            =b.label class: "label"
      .search-left--tool__form
        =f.label :sales_condition_in,"販売状況",class: "search-left--tool__form__title"
        =f.collection_check_boxes :sales_condition_in, SalesCondition.all, :id, :name do |b|
          .search-left--tool__form__checkbox
            =b.check_box class: "checkbox-default"
            =b.label class: "label"
      .search-left--tool__btn
        = link_to "クリア", request.path, class: "btn-default btn-gray"
        = f.submit "完了", class: "btn-default btn-red"
  .items-box__container
    %h3 検索結果
    .items-box__content.clearfix
      = render partial: "shared/product_card", collection: @products, as: "product"
= render "shared/footer"
= render "shared/sell-btn"
