= render "shared/header"
= render "shared/nav"
%section.item-box
  %h1.item-box__name
    = @product.name
  %p.item-box__sub
    = "『#{@product.name}』は、24回の取引実績を持つ#{@product.user.nickname}さんから出品されました。アネロ（リュック/バックパック/レディース）の商品で、#{Prefecture.data[@product.ship_from.to_i].fetch(:name)}から#{Shippingday.data[@product.shipping_date.to_i].fetch(:name)}で発送されます。"
  .item-box__main.clearfix
    .item-box__main-photo
      %ul.thumb-item
        %li
          = image_tag @product.image
        %li
          = image_tag @product.image
        %li
          = image_tag @product.image
        %li
          = image_tag @product.image
      %ul.thumb-item-nav
        %li
          = image_tag @product.image
        %li
          = image_tag @product.image
        %li
          = image_tag @product.image
        %li
          = image_tag @product.image
      -if @product.sales_condition == 3
        %span SOLD OUT
    %table.item-box__main-detail
      %tbody
        %tr
          %th 出品者
          %td
            =link_to @product.user.nickname ,''
            .face
              %div
                = fa_icon 'apple', class: 'fas fa-grin'
                %span 24
              %div
                = fa_icon 'apple', class: 'fa-meh'
                %span 0
              %div
                = fa_icon 'apple', class: 'fa-dizzy'
                %span 0
        %tr
          %th カテゴリー
          %td
            =link_to "#{Category.data[@product.category1.to_i].fetch(:name)}" ''
            =link_to ">#{Category.data[@product.category2.to_i].fetch(:name)}" ''
            =link_to ">#{Category.data[@product.category3.to_i].fetch(:name)}" ''
        %tr
          %th ブランド
          %td
            =link_to @product.brand, ''
        %tr
          %th 商品の状態
          %td #{Condition.data[@product.condition.to_i].fetch(:name)}
        %tr
          %th 配送料の負担
          %td #{Shippingpay.data[@product.postage.to_i].fetch(:name)}
        %tr
          %th 配送の方法
          %td #{@product.shipping_method}
        %tr
          %th 配送元地域
          %td
            =link_to "#{Prefecture.data[@product.ship_from.to_i].fetch(:name)}" ''
        %tr
          %th 発送日の目安
          %td #{Shippingday.data[@product.shipping_date.to_i].fetch(:name)}
  .item-box__price
    %span.price
      = "￥" + number_with_delimiter(@product.price.to_s)
    %span.tax (税込)
    %span.shipping 送料込み

  - if @product.sales_condition == 3
    .item-box__buy-disable
      %span 売り切れました

  - elsif user_signed_in? && current_user.id != @product.user_id
    =link_to "購入画面に進む", new_product_buy_path(@product) ,method: :get, class: "item-box__buy"

  - elsif user_signed_in? && current_user.id == @product.user_id
    =link_to 'この商品を編集する', edit_product_path , method: :get,class: "item-box__buy"
    =link_to 'この商品を削除する', product_path , method: :delete,class: "item-box__buy", data: { confirm: "#{@product.name}を削除しますか？" }

  - else
    =link_to "購入画面に進む",  new_user_session_path ,method: :get, class: "item-box__buy"

  .item-box__description
    %p
      = @product.product_description
  .item-box__button.clearfix
    .item-box__button-left
      =link_to '' do
        = fa_icon 'heart'
        %span いいね!
        %span 0
      =link_to '' do
        = fa_icon 'flag'
        %span 不適切な商品の報告
    .item-box__button-right
      =link_to '' do
        = fa_icon 'lock'
        %span あんしん・あんぜんのへの取り組み
.item-message
  .item-message__content
    %ul
      %li.clearfix
        =link_to '', class: "message-user" do
          .message-user__icon
            = image_tag ""
          .message-user__name shiraiwa
        .message-body
          .message-body__text
            はじめまして！ 購入検討しております。
            %br/
            2枚目の画像、ネイビーに見えないのですが、色褪せですか？？
            %br/
            とても綺麗にみえるのですが、金具の不具合、ゴムの伸びはありますか？
            %br/
            検印ありますか？
            %br/
            質問ばかりで申し訳ありません。
            %br/
            お返事お待ちしています。
            %br/
          .message-body__icons
            = fa_icon 'apple', class: "fa-clock"
            %span 3日前
.social-media
  %ul.social-media__box
    %li
      =link_to '' do
        = fa_icon 'facebook', class: "fa-facebook"
    %li
      =link_to '' do
        = fa_icon 'twitter', class: "fa-twitter"
    %li
      =link_to '' do
        = fa_icon 'pinterest', class: "fa-pinterest"
= render "shared/footer"
