!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title メルカリ スマホでかんたん フリマアプリ
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
= link_to 'トップページ', root_path
= link_to 'ユーザー新規登録', new_user_path
= link_to 'ユーザーマイページ', '/users/:id'
= link_to 'ログアウト', '/users/:id/logout'
